@import url(https://fonts.google.com/specimen/Outfit);t

html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

html, body {
    height: 97%;
}


.container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
}

.card-container {
    background-color: white;
    width:auto;
    height: auto;
    max-width: 30vh;
    max-height: 52vh;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
    padding:10px;
}

.qr-code {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.qr-code img{
    border:none;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.content, .header{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.content {
    font-size: 15px;
    font-weight: 400;
}

.header {
    font-weight: 700;
}


.attribution {
    display: block;
    padding: 8px;
}
